//theme-colors
$primary: hsla(148, 30%, 46%, 100);
$seconday: hsla(197, 20%, 18%, 100);
$error: hsla(351, 96%, 44%, 100);
$info: hsla(44, 98%, 62%, 100);

//spacing
$base-padding: ;
$base-margin: ;

//borders
$base-border-thickness: ;
$base-border-radius: ;

//font-sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 0.75;
$font-size-xl: $base-font-size * 0.75;
$font-size-xxl: $base-font-size * 0.75;
