$type-scale: (
	small: (
		//Minor third
		body: 1rem,
		h1: 2.488rem,
		h2: 2.074rem,
		h3: 1.728rem,
		h4: 1.44rem,
		caption: 0.694rem,
	),
	big: (
		// Augmented Fourth
		body: 1rem,
		h1: 5.653rem,
		h2: 3.998rem,
		h3: 2.827rem,
		h4: 1.999rem,
		caption: 0.707rem,
	),
);
